*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container
{
    position: relative;
    width:100%;           
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card
{
    position: relative;
    max-width: 150px;
    height: 15px;
    background: rgb(255, 255, 255);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 320px;
    max-width: 200px;
}
.container .card .imgbox
{
    position: relative;
    width: 120px;
    height: 100px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgbox img
{
    max-width: 100%;
    border-radius: 8px;

}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -5px;
    transition-delay: 0.3s;

}
